variables:
  OMP_NUM_THREADS: "1"

stages:
  - test
  - deploy 

test:
  stage: test
  image: registry.gitlab.com/agox/agox:latest
  script: 
  - virtualenv venv
  - pip install matscipy
  - pip list 
  - source venv/bin/activate
  - pip install --no-deps -e .
  - pytest agox/test/
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  
pages:
  stage: deploy
  image: registry.gitlab.com/agox/agox:latest
  script:
  - pip install --no-deps -e .
  - pip install -U sphinx
  - pip install -U sphinx-book-theme
  - pip install -U sphinxcontrib-fulltoc
  - pip install -U sphinx-tabs
  - sphinx-apidoc -o docs/source/api/ agox/ agox/test -efM -t docs/apidoc_templates/
  - python docs/source/api/postprocess.py -p docs/source/api/
  - sphinx-build -b html docs/source/. public
  artifacts:
    paths:
    - public
  only:
  - dev

full_install:
  stage: test
  image: python:3.8
  script:
  - pip install virtualenv 
  - virtualenv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools 
  - pip install -e .[full]
  - pytest agox/test/
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"