**/__pycache__
.vscode/
local_files/
.ipynb_checkpoints/
docs/build/
agox.egg-info
pip-wheel-metadata/
build
trash
*.c
*.so
agox/local/
*~
docs/old_stuff/
agox/test/run_tests/expected_outputs/*/*.png
