image: python:3.7-alpine

pages:
  stage: deploy
  script:
  - pip install -U sphinx
  - pip install -U sphinx-book-theme
  - pip install -U sphinxcontrib-fulltoc
  - sphinx-build -b html docs/source/. public
  artifacts:
    paths:
    - public
  only:
  - main
